extends base

block content
  main.main
    h1.heading-secondary Results
    each pj in allCharacters
      - const slugPj = pj.name.replace(/ /g,"_");
      a.result(href=`/character/${slugPj}`) #{pj.name}
          